<h1>Documentary Films</h1>

<% @documentary_films.each do |documentary_film| %>  
  <p><strong>Name:</strong> <%= documentary_film.name %></p>
  <p><strong>Synopsis:</strong> <%= documentary_film.synopsis %></p>
  <p><strong>Director:</strong> <%= documentary_film.director %></p>
<% end %>

<%= link_to 'New Documentary Film', new_documentary_film_path %>
